body{
	margin: 0;
	
}
input, button{
	display: block;
	margin: 10px auto 40px auto;
	font-family: Raleway;
}
.container{
	
	text-align: center;
	font-family: Raleway;
}
.holder{
	width: 100vw;
	height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
#urlInput{
	width: 30vw;
	height: 30px;
	border: 1px solid #000;
}
.main-title{
	font-size: 3em;
}
#scanButton{
	padding: 5px 30px;
	border: 0;
	background-color: #4688e3;
	color: #fff;
	font-size: 1.2em;
	border-radius: 5px;
}
#app{
	font-family: Raleway;
	max-width: 70%;
	margin: auto;
	display: none;
	align-content: center;
	justify-content: center;
	visibility: none;
	border-top: 2px solid #000;
	padding-top: 40px;
}
ul{
	list-style-type:none;
	padding: 0;
}
.app-col{
	width: 50%;]
	display: inline-block;
}
canvas{
	width: 300px;
	height: 300px;
	display: block;
	margin: auto;

}
.chart-desc{
	width: 100%;
	margin: auto;
	text-align: center;
	margin-top: 30px;
}
.chart-color-desc{
	width: 15px;
	height: 15px;
	display: inline-block;
	
}
.info-chart{background: #4688e3}
.warning-chart{background: #e33529;margin-left: 20px;}